    <header>
      <h1>Calculator</h1>
      <p>The calculator scripting language</p>

      <p class="view"><a href="https://github.com/dnperfors/calculator">View the Project on GitHub <small>dnperfors/calculator</small></a></p>
      <ul>
        <li><a href="https://github.com/dnperfors/calculator/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/dnperfors/calculator/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/dnperfors/calculator">View On <strong>GitHub</strong></a></li>
      </ul>
    </header>
